@font-face {
  font-family: "JetBrainsMono";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

:root {
  --c-bg: rgba(255, 255, 255, 0.949);
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

html {
  background-color: var(--c-bg);
}

html.dark {
  --c-bg: #181818;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}